#game-name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display:flex;
    justify-content: center;
    align-items: center;
    color: royalblue;
}

#simon-board {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#simon-btn-top-left {
    height: 100px;
    width: 100px;
    border: none;
    background-color: green;
}

#simon-btn-top-right {
    height: 100px;
    width: 100px;
    border: none;
    background-color: red;
}

#simon-btn-btm-left {
    height: 100px;
    width: 100px;
    border: none;
    background-color: yellow;
}

#simon-btn-btm-right {
    height: 100px;
    width: 100px;
    border: none;
    background-color: blue;
}

#score {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#high { 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}